<div class="main-div">
  <mat-card class="card">
      <mat-card-header class="header">
        <mat-card-title class="card-title">El Buen Sabor</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <img src="/assets/img/platos/hSimpleCompleta.png" alt="">
        <p>Restaurant de comida para toda la familia.</p>             
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-raised-button (click)="singin()" color="primary">Ingresar o Registrarse</button>        
      </mat-card-actions>
  </mat-card>
  </div>