<div class="main-div">
  <mat-card class="card">
      <mat-card-header class="header">
        <mat-card-title class="card-title">El Buen Sabor</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content"><p>Restaurant de comida para toda la familia. Por favor, ingresa a nuestra web con el boton de abajo y crea una cuenta para comenzar a usar nuestra página.</p>             
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-raised-button (click)="singin()" color="primary">Ingresar o Registrarse</button>        
      </mat-card-actions>
  </mat-card>
  </div>