.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dates {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.table-container {
  width: 100%;
  max-width: 800px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #0000000d;
}

.element-description-attribution {
  opacity: 0.5;
}

.mat-elevation-z8 {
  overflow: auto;
}

.export-to-excel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.mat-card-conainer{
  padding-left: 5rem;
}