mat-list-item {
  display: flex;
  justify-content: space-between;
}

.horario {
  width: 25%;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
