<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Administración</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toobar-spacer"></span>
    <mat-icon class="material-icon" aria-hidden="false" matTooltip="Cerrar Sesion" style="cursor: pointer" (click)="signOut()">logout</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  
  <button mat-menu-item [routerLink]="['/admin/users']">
    Usuarios internos
  </button>
  <button mat-menu-item [routerLink]="['/admin/rubro']">
    Administrar Rubros
  </button>
  <button mat-menu-item [routerLink]="['/admin/horario']">
    Administrar horarios
  </button>  
  <button mat-menu-item [routerLink]="['/admin/facturas']">
    Ver Facturas
  </button>
  <button mat-menu-item [routerLink]="['/admin/totalsales']">
    Historial de ventas
  </button>
  <button mat-menu-item [routerLink]="['/admin/clientes']">
    Clientes
  </button>
  <button mat-menu-item [routerLink]="['/cocina']">
    Cocina
  </button>
  
  <button mat-menu-item [routerLink]="['/admin/articulo']">Articulos</button>
  <button mat-menu-item [routerLink]="['/admin/manofacturado']">
    Productos manofacturados
  </button>
  <button mat-menu-item [routerLink]="['/admin/pedidosxfacturar']">
    Pedidos para facturar
  </button>
  <button mat-menu-item [routerLink]="['/admin/pedidos']">
    Pedidos
  </button>
</mat-menu>





