.general-container {
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
}
.select-articulos {
  width: 100%;
}
.listIngredient{
  color: black;
}

.products {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  
}
.card {
  padding-left: 15px;
  
}
.cardCol {
  background-color: white;
  width: 220px;
  text-align: center;
  color: black;
}

form {
  width: 100%;
}

mat-form-field {
  width: 90%;
  max-width: 350px;
  padding-left: 15px;
}
mat-card-header{
  align-content: center;
}

//pedido
.pedido {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #f4f5f796;
  border-radius: 35px;
}

.title {
  text-align: center;
}

.list {
  width: 93%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: black;
}

.product-header {
  font-size: 1.1rem;
  padding-left: 5px;
  font-weight: bold;
  color: white;
}

.amount-header {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  padding: 4px;
}
.cancel-icon {
  font-size: 15px;
  cursor: pointer;
}
.description {
  display: flex;
  color: greenyellow;  
}

.btn-finish {
  padding-top: 15px;
  
}

.description-total {
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  color: white;
  
}
.centrar{
  margin-left: auto;
  margin-right: auto;
  padding-left: 19px;
  
  /* IMPORTANTE */
  text-align: center;
}

.detail-item {
  height: 36px;
  
}

.discount {
  padding-top: 20px;
}

@media screen and (max-width: 700px) {
  .general-container {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .select-articulos {
    width: 100%;
  }

  .products {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;

  }
  .card {
    padding-left: 15px;
  }
  .cardCol {
    background-color: #f4f5f7d9;
    width: 220px;
    text-align: center;
  }

  form {
    width: 100%;
  }

  mat-form-field {
    width: 90%;
    max-width: 350px;
    padding-left: 15px;
  }

  //pedido
  .pedido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #f4f5f796;
    border-radius: 35px;
  }

  .title {
    text-align: center;
  }

  .list {
    width: 93%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .product-header {
    font-size: 1.1rem;
    padding-left: 5px;
    font-weight: bold;
  }

  .amount-header {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    padding: 4px;
  }
  .cancel-icon {
    font-size: 15px;
    cursor: pointer;
  }
  .description {
    display: flex;
  }

  .btn-finish {
    padding-top: 15px;
  }

  .description-total {
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
  }

  .detail-item {
    height: 36px;
  }

  .discount {
    padding-top: 20px;
  }
}
.nuestArticulosVenta{
  font-size: 25px;
  padding-left: 2rem;
  color: white;
}
.buttonCenter{
  
  padding-right: 10px;
  
  /* IMPORTANTE */
  text-align: center;
}