.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.field {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  min-width: 250px;
  mat-form-field {
    width: 100%;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  mat-icon {
    font-size: 15px;
  }
}
